*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    grid-template-columns:2fr 6fr 2fr;
    grid-template-rows: 120px 60vh 200px ;
    grid-template-areas:
    "header header header"
    "main  main  main" 
      "footer footer footer"
     ;
    /* direction:rtl; */
}
.header-head{
    /* width: 100%; */
    grid-area: header;
    display: flex;
    /* height: 120px; */
    background-color: rgb(0, 0, 0);
}
.main-king{
    /* width: 100vw; */
    /* height: 60vh; */
    grid-area: main;
    background-color: blueviolet;
}
.footer-king{
    /* height: 200px; */
    grid-area: footer;
}
.di{
    background-color: aqua;
    color: blue;
    width: 200px;
    height: 70px;
}
.dv{
    background-color: rgb(7, 78, 78);
    color: blue;
    width: 200px;
    height: 70px;
}
.dd{
    background-color: rgb(166, 255, 0);
    color: blue;
    width: 200px;
    height: 70px;
}
.db{
    background-color: rgb(183, 0, 255);
    color: blue;
    width: 200px;
    height: 70px;
}


.div-header{
 display: flex;
}
.img-king{
    width: 130px;
    height: 120px;
}
.h-king{
    color: rgb(255, 0, 0);
}
.img-arta{
    height: 20px;
    width: 20px;
}